@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@800&family=Work+Sans:wght@700&display=swap');

*{
    
    font-family: 'Work Sans', sans-serif; 
    /* max-width: 1300px; */
    /* margin: 0 auto; */
}

header{
   background-color: 
   rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
    margin: 0 auto;
    max-width: 1900px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color:  rgba(19, 19, 19, 1);

}

nav>ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    /* font-size: 18px; */
    font-size: 1rem;

}
nav li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    
    
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:  rgba(19, 19, 19, 1);
    
}

.banner-description{
    color: rgba(114, 114, 114, 1);
    font-size: 13px;

}
.banner img{
    width: 100%;
    margin-top: 20px;
}
.btn-primary{
    background:  rgba(255, 144, 14, 1);
    color: #FFF;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

main{
   max-width: 1440px; 
   margin: 50px auto;
}

.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}

.teams-content{
    padding: 0 70px 70px 0; 
}



@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav , .teams-container{
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: 1fr;

    }

    .teams-content{
        padding: 0 20px 20px 0; 
    }
    
        
        
    
}

@media screen and (min-width: 576px) and ( max-width: 960px) {

    nav,  .teams-container{
        flex-direction: column;
    }

    header{
        padding: 40px;
    }
    
}